@import "global.css";

.parking-place {
    display: flex;
    flex-direction: row;
    column-gap: 1.25rem;
    margin-bottom: 40px;
}
.parking-place__img {
    flex: 1;
    background: url(../images/catalog-card-big.jpg) center center;
    background-size: cover;
    border-radius: var(--radius);
    height: 380px;
}
.parking-place__img_create {
    background: url(../images/plus.svg) center center no-repeat white;
    background-size: auto;
}
.parking-place__description {
    flex: 1;
    padding: 1rem 0;
}
.parking-place__description_form {
    padding: 0;
}
.parking-place__detail-description {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    height: 3rem;
    overflow: hidden;
}
.parking-place__detail-description_expanded {
    height: auto;
    overflow: auto;
}
#more {
    color: var(--secondary-color);
}
.parking-place__oner {
    margin-bottom: 30px;
}
.h3_parking-place {
    margin: 0px 0 10px;
    font-size: 1.25rem;
    /* line-height: 1rem; */
    color: rgba(0, 0, 0, 0.75);
    font-weight: 400;
}
.h5_parking-place {
    margin: 20px 0 5px;
    font-size: 1rem;
    font-weight: 400;
}
.parking-place__price-metro {
    display: flex;
    column-gap: 1.25rem;
}
.label_price {
    flex: 3.8;
}
.label_metro {
    flex: 6.2;
}
.title_parking-place-create {
    margin-bottom: 1.5rem;
}
.textarea_parking-place-create {
    height: 13rem;
}
.select_parking-place-create {
    width: 55%;
}
.parking-place__create-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
    .parking-place {
        display: block;
    }
    .parking-place__img {
        width: 99vw;
        height: 550px;
        margin: -105px calc(50% - 50vw) 0;
        border-radius: 0 0 65px 65px;
    }
    .parking-place__oner {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .h3_parking-place {
        font-size: 15px;
        margin-top: 0;
    }
    .parking-place__detail-description {
        font-size: 1rem;
        height: auto;
    }
    #more {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    .parking-place {
        display: block;
        margin-bottom: 0;
    }
    .parking-place__img {
        width: 99vw;
        height: 99vw;
        margin: -105px calc(50% - 50vw) 0;
        border-radius: 0 0 65px 65px;
    }
    .parking-place__oner {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .h3_parking-place {
        font-size: 15px;
        margin-top: 0;
    }
    .parking-place__detail-description {
        font-size: 1rem;
        height: auto;
    }
    #more {
        display: none;
    }
    .parking-place__description {
        width: 99vw;
        margin: -105px calc(50% - 50vw) 0;
        padding: 35px 20px 20px;
        /* background: linear-gradient(359.7deg, #ededed 97.58%, rgba(237, 237, 237, 0) 103.88%); */
        background: #ededed;
        border-radius: 50px;
    }
    .select_parking-place-create {
        width: 100%;
    }
}
